In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
# Install once (run only if not installed)
# !pip install nltk contractions

ModuleNotFoundError: No module named 'matplotlib'

In [19]:
!pip install contractions

Requirement already satisfied: contractions in /usr/local/lib/python3.12/dist-packages (0.1.73)
Requirement already satisfied: textsearch>=0.0.21 in /usr/local/lib/python3.12/dist-packages (from contractions) (0.0.24)
Requirement already satisfied: anyascii in /usr/local/lib/python3.12/dist-packages (from textsearch>=0.0.21->contractions) (0.3.3)
Requirement already satisfied: pyahocorasick in /usr/local/lib/python3.12/dist-packages (from textsearch>=0.0.21->contractions) (2.3.0)

In [20]:
import re
import nltk
import contractions
import pandas as pd


from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
from nltk.tokenize import word_tokenize

# Download required NLTK resources (run once)
nltk.download('stopwords')
nltk.download('punkt')
nltk.download('wordnet')

# Initialize stopwords & lemmatizer
stop_words = set(stopwords.words('english'))
lemmatizer = WordNetLemmatizer()


def text_preprocessing(text):
    text = str(text).lower()
    text = contractions.fix(text)
    text = re.sub(r'[^a-z\s]', '', text)  # remove punctuation & numbers

    tokens = word_tokenize(text)

    processed_text = ' '.join(
        lemmatizer.lemmatize(word)
        for word in tokens
        if word not in stop_words
    )

    return processed_text

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [21]:
df=pd.read_csv('/content/imdb_movies_2024.csv')
df

,Title,Story_line
0,1. The Substance,A fading celebrity takes a black-market drug: ...
1,2. The Life of Chuck,"A life-affirming, genre-bending story about th..."
2,3. Bone Lake,A couple's vacation at a secluded estate is up...
3,4. Anora,A young stripper from Brooklyn meets and impul...
4,5. Eden,Based on a factual account of a group of outsi...
...,...,...
2128,2146. Anchakkallakokkan,In a small country town a cowardly police cons...
2129,2147. Maliko,"Eunice, a sexually fluent medical agent, befri..."
2130,2148. Matchmaking 2,After breaking box office records with their f...
2131,2149. Blue Lights,Alejandro's 70th birthday unveils tensions and...
2132,2150. Üç Harfliler: Nazar,"Zeliha strikes a deal with jinns, desperate fo..."

In [25]:
df.columns = df.columns.str.strip()

print(df.columns)

Index(['Title', 'Story_line'], dtype='object')

In [28]:
df = df.dropna(subset=["Story_line"]).reset_index(drop=True)

In [29]:
stop_words = set(stopwords.words("english"))
lemmatizer = WordNetLemmatizer()

In [33]:
def clean_text(text):
    text = str(text).lower()                 # lowercase
    text = contractions.fix(text)            # expand contractions
    text = re.sub(r"[^a-z\s]", "", text)     # remove punctuation & numbers
    text = re.sub(r"\s+", " ", text).strip()
    text=  ' '.join([word  for word in text.split() if word.isalpha()]) # remove extra spaces
    return text

In [34]:
df["clean_story"] = df["Story_line"].apply(clean_text)
df[["Story_line", "clean_story"]]

,Story_line,clean_story
0,A fading celebrity takes a black-market drug: ...,a fading celebrity takes a blackmarket drug a ...
1,"A life-affirming, genre-bending story about th...",a lifeaffirming genrebending story about three...
2,A couple's vacation at a secluded estate is up...,a couples vacation at a secluded estate is upe...
3,A young stripper from Brooklyn meets and impul...,a young stripper from brooklyn meets and impul...
4,Based on a factual account of a group of outsi...,based on a factual account of a group of outsi...
...,...,...
2128,In a small country town a cowardly police cons...,in a small country town a cowardly police cons...
2129,"Eunice, a sexually fluent medical agent, befri...",eunice a sexually fluent medical agent befrien...
2130,After breaking box office records with their f...,after breaking box office records with their f...
2131,Alejandro's 70th birthday unveils tensions and...,alejandros th birthday unveils tensions and se...
2132,"Zeliha strikes a deal with jinns, desperate fo...",zeliha strikes a deal with jinns desperate for...

In [38]:
df['clean_story'][450]
clean_text(df['clean_story'][450])

'after the queen of hearts incites a coup in auradon her rebellious daughter red and cinderellas perfectionist daughter chloe must team up and travel in time to undo the traumatic event that drove a young queen of hearts to villainy'

In [42]:
df['Cleaned_Text']=df['clean_story'].apply(text_preprocessing)
df

,Title,Story_line,clean_story,Cleaned_Text
0,1. The Substance,A fading celebrity takes a black-market drug: ...,a fading celebrity takes a blackmarket drug a ...,fading celebrity take blackmarket drug cellrep...
1,2. The Life of Chuck,"A life-affirming, genre-bending story about th...",a lifeaffirming genrebending story about three...,lifeaffirming genrebending story three chapter...
2,3. Bone Lake,A couple's vacation at a secluded estate is up...,a couples vacation at a secluded estate is upe...,couple vacation secluded estate upended forced...
3,4. Anora,A young stripper from Brooklyn meets and impul...,a young stripper from brooklyn meets and impul...,young stripper brooklyn meet impulsively marri...
4,5. Eden,Based on a factual account of a group of outsi...,based on a factual account of a group of outsi...,based factual account group outsider settle re...
...,...,...,...,...
2128,2146. Anchakkallakokkan,In a small country town a cowardly police cons...,in a small country town a cowardly police cons...,small country town cowardly police constable m...
2129,2147. Maliko,"Eunice, a sexually fluent medical agent, befri...",eunice a sexually fluent medical agent befrien...,eunice sexually fluent medical agent befriende...
2130,2148. Matchmaking 2,After breaking box office records with their f...,after breaking box office records with their f...,breaking box office record first film characte...
2131,2149. Blue Lights,Alejandro's 70th birthday unveils tensions and...,alejandros th birthday unveils tensions and se...,alejandros th birthday unveils tension secret ...
2132,2150. Üç Harfliler: Nazar,"Zeliha strikes a deal with jinns, desperate fo...",zeliha strikes a deal with jinns desperate for...,zeliha strike deal jinns desperate grandchild ...

In [44]:
stop_words=set(stopwords.words('english'))
stop_words
lemmatizer=WordNetLemmatizer()
lemmatizer

In [53]:
df['Cleaned_Text'][1995]

'two police officer punjab travel london mission prof complicated expected'

In [59]:
## Tokenization
df["tokens"] = df["clean_story"].apply(word_tokenize)
df[["clean_story", "tokens"]].head()

,clean_story,tokens
0,a fading celebrity takes a blackmarket drug a ...,"[a, fading, celebrity, takes, a, blackmarket, ..."
1,a lifeaffirming genrebending story about three...,"[a, lifeaffirming, genrebending, story, about,..."
2,a couples vacation at a secluded estate is upe...,"[a, couples, vacation, at, a, secluded, estate..."
3,a young stripper from brooklyn meets and impul...,"[a, young, stripper, from, brooklyn, meets, an..."
4,based on a factual account of a group of outsi...,"[based, on, a, factual, account, of, a, group,..."

In [ ]:
##Remove Stopwords

In [60]:
df["tokens_no_stopwords"] = df["tokens"].apply(
    lambda words: [w for w in words if w not in stop_words]
)

df[["tokens", "tokens_no_stopwords"]].head()

,tokens,tokens_no_stopwords
0,"[a, fading, celebrity, takes, a, blackmarket, ...","[fading, celebrity, takes, blackmarket, drug, ..."
1,"[a, lifeaffirming, genrebending, story, about,...","[lifeaffirming, genrebending, story, three, ch..."
2,"[a, couples, vacation, at, a, secluded, estate...","[couples, vacation, secluded, estate, upended,..."
3,"[a, young, stripper, from, brooklyn, meets, an...","[young, stripper, brooklyn, meets, impulsively..."
4,"[based, on, a, factual, account, of, a, group,...","[based, factual, account, group, outsiders, se..."

In [ ]:
##Lemmatization

In [61]:
df["tokens_lemmatized"] = df["tokens_no_stopwords"].apply(
    lambda words: [lemmatizer.lemmatize(w) for w in words]
)

df[["tokens_no_stopwords", "tokens_lemmatized"]].head()

,tokens_no_stopwords,tokens_lemmatized
0,"[fading, celebrity, takes, blackmarket, drug, ...","[fading, celebrity, take, blackmarket, drug, c..."
1,"[lifeaffirming, genrebending, story, three, ch...","[lifeaffirming, genrebending, story, three, ch..."
2,"[couples, vacation, secluded, estate, upended,...","[couple, vacation, secluded, estate, upended, ..."
3,"[young, stripper, brooklyn, meets, impulsively...","[young, stripper, brooklyn, meet, impulsively,..."
4,"[based, factual, account, group, outsiders, se...","[based, factual, account, group, outsider, set..."

In [62]:
df["final_clean_storyline"] = df["tokens_lemmatized"].apply(lambda x: " ".join(x))

df[["Title", "Story_line", "final_clean_storyline"]].head()

,Title,Story_line,final_clean_storyline
0,1. The Substance,A fading celebrity takes a black-market drug: ...,fading celebrity take blackmarket drug cellrep...
1,2. The Life of Chuck,"A life-affirming, genre-bending story about th...",lifeaffirming genrebending story three chapter...
2,3. Bone Lake,A couple's vacation at a secluded estate is up...,couple vacation secluded estate upended forced...
3,4. Anora,A young stripper from Brooklyn meets and impul...,young stripper brooklyn meet impulsively marri...
4,5. Eden,Based on a factual account of a group of outsi...,based factual account group outsider settle re...

In [73]:
df["Title_clean"] = df["Title"].str.replace(r"^\d+\.\s*", "", regex=True)
df[["Title", "Title_clean"]].head()

                  Title        Title_clean
0      1. The Substance      The Substance
1  2. The Life of Chuck  The Life of Chuck
2          3. Bone Lake          Bone Lake
3              4. Anora              Anora
4               5. Eden               Eden

In [74]:
from sklearn.feature_extraction.text import TfidfVectorizer

# TF-IDF Vectorizer
tfidf = TfidfVectorizer(max_features=5000)

# Convert storylines into numerical vectors
tfidf_matrix = tfidf.fit_transform(df["final_clean_storyline"])

print("TF-IDF Matrix Shape:", tfidf_matrix.shape)

TF-IDF Matrix Shape: (2133, 5000)

In [75]:
tfidf.get_feature_names_out()[:20]

array(['aaron', 'abandon', 'abandoned', 'abbey', 'abbie', 'abbot', 'abby',
       'abdhul', 'abducted', 'abductee', 'abducts', 'abdul', 'abertzale',
       'abi', 'ability', 'ablaze', 'able', 'aboard', 'abraham', 'abroad'],
      dtype=object)

In [ ]:
##cosine similiarity

In [76]:
from sklearn.metrics.pairwise import cosine_similarity

cosine_sim_matrix = cosine_similarity(tfidf_matrix, tfidf_matrix)

print(cosine_sim_matrix.shape)

(2133, 2133)

In [77]:
def recommend_movies(movie_title, top_n=5):
    movie_title = movie_title.lower().strip()

    match = df[df["Title_clean"].str.lower() == movie_title]

    if match.empty:
        return f"Movie '{movie_title}' not found!"

    idx = match.index[0]

    sim_scores = list(enumerate(cosine_sim_matrix[idx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)

    sim_scores = sim_scores[1:top_n+1]
    movie_indices = [i[0] for i in sim_scores]

    result = df.iloc[movie_indices][["Title_clean", "Story_line"]].copy()
    result["Similarity Score"] = [s[1] for s in sim_scores]

    return result

In [78]:
recommend_movies("The Substance", top_n=5)

,Title_clean,Story_line,Similarity Score
958,Altered Reality,Oliver's life transforms when gifted a not-yet...,0.138259
624,The Trainer,"Follows Jack, a fitness expert living with his...",0.135602
656,Wonderland,"In 'Wonderland', people can use an A.I. progra...",0.124297
1030,Thelma the Unicorn,A singing pony who dreams of stardom finds ins...,0.119612
933,The Real Bros of Simi Valley: The Movie,With the 10-year high school reunion around th...,0.117927

In [79]:
def recommend_by_storyline(user_storyline, top_n=5):
    # preprocess input storyline
    user_clean = text_preprocessing(user_storyline)

    # convert to tfidf vector
    user_vec = tfidf.transform([user_clean])

    # similarity with all movies
    sim_scores = cosine_similarity(user_vec, tfidf_matrix).flatten()

    # top n results
    top_indices = sim_scores.argsort()[-top_n:][::-1]

    result = df.iloc[top_indices][["Title_clean", "Story_line"]].copy()
    result["Similarity Score"] = sim_scores[top_indices]

    return result

In [83]:
recommend_by_storyline(
    "A young wizard joins a magical school and fights dark forces",
    top_n=5
)

,Title_clean,Story_line,Similarity Score
128,Land of Bad,A Delta Force team fights for survival as an A...,0.202399
192,Witchboard,"A cursed Witchboard awakens dark forces, dragg...",0.197643
24,Ghostbusters: Frozen Empire,When the discovery of an ancient artifact unle...,0.185867
1698,School of Magical Animals 3,Children with magical animal companions at Win...,0.177111
184,Apartment 7A,A struggling young dancer finds herself drawn ...,0.172995